@model UserInfoViewModel


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>User Information</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Email:</strong> @Model.Email</p>
                    <p><strong>Manager :</strong> @Model.ManagerName</p>
                    <p><strong>Vacation Days Remaining:</strong> @Model.VacationDays</p>
                </div>
            </div>
        </div>
    </div>
</div>

