@section Scripts {
    <script src="~/lib/fullcalendar/main.js" asp-append-version="true"></script>
    <script src="~/lib/fullcalendar/interaction/main.js" asp-append-version="true"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                events: []
            });

            calendar.render();
        });
    </script>
}

@model SubmitVacationRequestViewModel

<h2 class="text-center mb-3">Submit Vacation Request</h2>
<div class="form-container">
<form asp-action="CreateVacationRequest" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" class="form-input" asp-format="{0:yyyy-MM-dd}" />
        <span asp-validation-for="StartDate" class="text-danger"></span>

        <label asp-for="EndDate" class="form-label"></label>
        <input asp-for="EndDate" class="form-input" asp-format="{0:yyyy-MM-dd}" />
        <span asp-validation-for="EndDate" class="text-danger"></span>

        <button type="submit" class="form-submit">Submit</button>
</form>
</div>


            <style>
    .form-container {
        width: 300px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Style for form labels */
    .form-label {
        font-weight: bold;
    }

    /* Style for form inputs */
    .form-input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    /* Style for the submit button */
    .form-submit {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

        .form-submit:hover {
            background-color: #0056b3;
        }
            </style>